{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/index"><span class="text-success">Home</span></a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Orders</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">My Orders</h2>
        <div class="p-3 p-lg-5 border">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">user</th>
                <th scope="col">x</th>
                <th scope="col">y</th>
                <th scope="col">pkgid</th>
                <th scope="col">pid</th>
                <th scope="col">count</th>
                <th scope="col">whid</th>
                <th scope="col">truckid</th>
                <th scope="col">status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{order.user}}</td>
                <td>{{order.x}}</td>
                <td>{{order.y}}</td>
                <td>{{order.pkgid}}</td>
                <td>{{order.pid}}</td>
                <td>{{order.count}}</td>
                <td>{{order.whid}}</td>
                <td>{{order.truckid}}</td>
                <td>{{order.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}